
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tytuł Twojej Strony{% endblock %}</title>

    <!-- Dodaj Bootstrap z CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'base' %}">Strona główna</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'base' %}">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_ksiazek' %}">Lista Książek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wyswietl_koszyk' %}">Koszyk</a>
                    </li>
                     {% if user.is_authenticated %}
            <li class="nav-item">Witaj, {{ user.username }}!</li>
            <li><a class="nav-link" href="{% url 'wyloguj' %}">Wyloguj</a></li>
        {% else %}
            <li class="nav-item"><a  class="nav-link" href="{% url 'logowanie' %}">Zaloguj</a></li>
            <li class="nav-item" ><a class="nav-link"  href="{% url 'rejestracja' %}">Zarejestruj się</a></li>

        {% endif %}
        {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'admin:index' %}" class="btn btn-primary">Przejdź do panelu admina</a>
        {% endif %}
                </ul>

            </div>
        </nav>
    <div>
    <label for="searchInput">Wyszukaj:</label>
    <input type="text" id="searchInput" placeholder="Tytuł książki lub imię i nazwisko autora">
    <ul id="searchResults"></ul>

</div>

    </header>
       {% block content %}

{% endblock %}
    </main>

    <footer>
        <!-- Zawartość stopki -->
    </footer>

    <!-- Dodaj Bootstrap JS i jQuery z CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
    $("#searchInput").on("input", function() {
        var query = $(this).val();
        if (query.length >= 2) {
            $.ajax({
                type: 'GET',
                url: '{% url "wyszukiwarka" %}',
                data: {'query': query},
                success: function(data) {
                    displayResults(data);
                },
                error: function(error) {
                    console.log('Wystąpił błąd:', error);
                }
            });
        } else {
            $("#searchResults").empty();
        }
    });

    function displayResults(data) {
        $("#searchResults").empty();
        data.results.forEach(function(result) {
            var listItem = $("<li>").text(result.label);
            listItem.on("click", function() {
                window.location.href = result.url;
            });
            $("#searchResults").append(listItem);
        });
    }
});

function obslugaPodpowiedzi() {
    // Twoja istniejąca funkcja obsługująca podpowiedzi

    // Dodaj obsługę zdarzenia kliknięcia na podpowiedzi
    $('#id_podpowiedzi').on('click', 'li', function() {
        var imie = $(this).data('imie');
        var tytul = $(this).data('tytul');
        var rodzaj = $(this).data('rodzaj');
        var nazwa = $(this).data('nazwa');

        if (rodzaj === 'autor') {
            // Przejdź do strony z listą książek danego autora
            var url = '/ksiazki_wedlug_autora/' + imie + '/';
            window.location.href = url;
        } else if (rodzaj === 'tytul') {
            // Przejdź do strony ze szczegółami danej książki
            var url = '/ksiazka_szczegoly/' + tytul + '/';
            window.location.href = url;
        } else if (rodzaj === 'nazwa') {
            // Przejdź do strony ze szczegółami danej książki
            var url = '/wydawnictwo_szczegoly/' + nazwa + '/';
            window.location.href = url;
        }
    });
}

// Wywołanie funkcji

obslugaPodpowiedzi();
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>
