
<!-- templates/lista_ksiazek.html -->
{% extends 'base.html' %}

{% block title %}Lista Książek{% endblock %}

{% block content %}

    <div class="container">
        <h1>Lista Książek</h1>
        <div class="row">
            {% for ksiazka in ksiazki %}

                <div class="col-md-3">
                    <div class="card mb-3">
                        <img src="{{ ksiazka.okladka.url }}" class="card-img-top" alt="{{ ksiazka.tytul }} Okładka">
                        <div class="card-body">
                            <h5 class="card-title">{{ ksiazka.tytul }}</h5>
                            <p class="card-text">{{ ksiazka.autor }}</p>
                            <p class="card-text">{{ ksiazka.opis }}</p>

                            <p class="card-text">Kategorie: {% for kategoria in ksiazka.kategorie.all %}<a href="{% url 'ksiazki_wedlug_kategorii' kategoria.id %}">{{ kategoria.nazwa }}</a>{% if not forloop.last %}, {% endif %}</p>

                                <p></p>
                            {% endfor %}
                        <p class="card-text">{{ ksiazka.cena }}</p>
                        <p class="card-text">{{ ksiazka.data_utworzenia }}</p>
                        <a href="{% url 'dodaj_do_koszyka' ksiazka.id %}">Dodaj do koszyka</a>
                        </div>
                    </div>
                {% if ksiazka.slug %}
                    <a href="{% url 'ksiazka_szczegoly' slug=ksiazka.slug %}" class="btn btn-secondary">Szczegóły</a>
               {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>


<p><a href="{% url 'wyswietl_koszyk'%}">Koszyk</a></p>


    </div>
  </div>
{% endblock %}

