<!-- templates/lista_ksiazek.html -->
{% extends 'base.html' %}

{% block title %}Lista Książek{% endblock %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"  defer></script>
 <script src="https://js.stripe.com/v3/"></script>

{% block content %}

    <div class="container">
        <h1>Lista Książek</h1>
        <div class="row">
            {% for ksiazka in ksiazki %}
                {% with autor=ksiazka.autor wydawnictwo=ksiazka.wydawnictwo kategoria=ksiazka.kategorie %}

                    <div class="col-md-2">
                        <div class="card mb-2">
                            <a class="tytul" href="{% url 'ksiazka_szczegoly' slug=ksiazka.slug %}">
                                {% if ksiazka.okladka %}

                                    <img src="{{ ksiazka.okladka.url }}" class="card-img-top"
                                         alt="{{ ksiazka.tytul }} Okładka">

                                {% else %}
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <div class="tytul-ksiazki">
                                <a class="tytul"
                                   href="{% url 'ksiazka_szczegoly' slug=ksiazka.slug %}">{{ ksiazka.tytul }} </a>
</div>
                                <p class="card-text">


                                    <a href="{% url 'ksiazki_wedlug_autora' slug=autor.slug %}">{{ autor.imie }} {{ autor.nazwisko }}</a>

                                </p>

                                <p class="card-text cena">{{ ksiazka.cena }} zł</p>

                                <div class="przycisk-koszyk">
                                    <a href="{% url 'dodaj_do_koszyka' ksiazka.id %}" class="btn btn-secondary">Dodaj do
                                        koszyka</a>

                                </div>
                            </div>

                        </div>

                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
  <div class="pagination">
        <span class="step-links">
            {% if ksiazki.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ ksiazki.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ ksiazki.number }} z {{ ksiazki.paginator.num_pages }}.
            </span>

            {% if ksiazki.has_next %}
                <a href="?page={{ ksiazki.next_page_number }}">następna</a>
                <a href="?page={{ ksiazki.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
    <script>
window.onload = function() {
    function equalizeCardHeights() {
        var maxHeight = 0;
        $('.card .tytul-ksiazki').each(function() {
            var thisHeight = $(this).outerHeight();
            if (thisHeight > maxHeight) {
                maxHeight = thisHeight;
            }
        });
        $('.card .tytul-ksiazki').height(maxHeight);
    }

    equalizeCardHeights();
    $(window).resize(equalizeCardHeights);
};
</script>
{% endblock %}










