{% extends 'base.html' %}

{% block title %}Koszyk{% endblock %}
{% block content %}
    <div class="col-md-10 content-profil" >
    <div class="col-md-8" >
    {% if messages %}
  {% for message in messages %}
    <div>{{ message }}</div>
  {% endfor %}
{% endif %}
<h2>Podsumowanie danych do wysyłki</h2>
{% if dane %}
    <p>Adres: {{ dane.adres }}</p>
    <p>Kod pocztowy: {{ dane.kod_pocztowy }}</p>
    <p>Miasto: {{ dane.miasto }}</p>
    <p>Województwo: {{ dane.wojewodztwo }}</p>
    <!-- Dodaj więcej pól, jeśli są dostępne i potrzebne -->
{% else %}
    <p>Brak danych do wyświetlenia. Proszę wrócić do formularza i wprowadzić dane.</p>
{% endif %}
 <a class="btn btn-secondary" href="{% url 'wyswietl_koszyk' %}">Wróc do koszyka</a>
    </div>
      <div class="col-md-5 podsumowanie" >
<h2>Książki w koszyku:</h2>
{% if ksiazki_w_koszyku %}
   <table>
   <tr>
       <td>Tytuł:</td>
        <td>Autor:</td>
        <td>Ilość:</td>
        <td>Cena:</td>
   </tr>
        {% for ksiazka in ksiazki_w_koszyku %}
            <tr>
                <td>{{ ksiazka.tytul }}</td>
                <td>{{ ksiazka.autor }}</td>
                <td>{{ ksiazka.ilosc }}</td>
                <td><strong>{{ ksiazka.cena }} PLN</strong></td>

            </tr>
        {% endfor %}
    </table>
    <p class="cena-koszyk"><strong>Razem: {{ suma_cen }} PLN</strong></p>
{% else %}
    <p>Twój koszyk jest pusty.</p>

{% endif %}
       <form action="{% url 'create-checkout-session' %}" method="post">

            {% csrf_token %}
            <input class="przycisk" type="submit" value="Przejdź do płatności">
        </form>
       </div>
     </div>
      <div class="col-md-8">





   </div>
{% endblock content %}

