{% extends 'base.html' %}

{% block content %}
<h2>Profil Użytkownika</h2>
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profil_form.as_p }}
    <button type="submit">Zapisz zmiany</button>
</form>
<h3>Zamówione książki:</h3>
{% if pozycje_zamowien %}
    <ul>
        {% for pozycja in pozycje_zamowien %}
            <li>{{ pozycja.ksiazka.tytul }}{{ pozycja.ksiazka.autor }} - Ilość: {{ pozycja.ilosc }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nie zamówiłeś jeszcze żadnych książek.</p>
{% endif %}

{% endblock %}

