{% extends 'base.html' %}

{% block content %}
     <div class="col-md-10 content-profil" >
        <div class="col-md-5">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
{% endif %}
<h2>Profil Użytkownika</h2>
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profil_form.as_p }}
    <button type="submit">Zapisz zmiany</button>
</form>
        </div>
        <div class="col-md-7 tabela-profil">
<h3>Zakupione książki:</h3>
{% if pozycje_zamowien %}

    <table>
    <tr>
        <td>Tytuł:</td>
        <td>Autor:</td>
        <td>Ilość:</td>
    </tr>
        {% for pozycja in pozycje_zamowien %}
            <tr>
            <td>{{ pozycja.ksiazka.tytul }}</td>
            <td>{{ pozycja.ksiazka.autor }}</td>
            <td> {{ pozycja.ilosc }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Nie zamówiłeś jeszcze żadnych książek.</p>
{% endif %}
    </div>
     </div>
{% endblock %}

