{% extends 'base.html' %}

{% block title %}Koszyk{% endblock %}
{% block content %}
    {% if ksiazki_w_koszyku %}
        <div class="col-md-12 content-koszyk" >
         <div class="col-md-8">
        <table>

            {% for ksiazka in ksiazki_w_koszyku %}
                <tr>
                <td>
                 {% if ksiazka.okladka %}
                        <img class="zdjecia-koszyk" src="{{ ksiazka.okladka }}" alt="{{ ksiazka.tytul }} Okładka">
                    {% else %}
                        <p>Brak obrazka</p>
                    {% endif %}
                </td>
                <td>
                    <h2>{{ ksiazka.tytul }}</h2>
                </td>
                      <td>
                    <p>Autor: <br/>{{ ksiazka.autor}}</p>


                    </td>
                <td>
                    <form action="{% url 'zwieksz_ilosc' ksiazka.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="+">
                    </form>
                </td>
                  <td>
                    <p>Ilość: <br/>{{ ksiazka.ilosc }}</p>
                        </td>
                <td> <form action="{% url 'zmniejsz_ilosc' ksiazka.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="-">
                    </form>
                </td>
                  <td>
                    <p>Cena: <br/>{{ ksiazka.cena }} PLN</p>
                </td>


                </tr>

            {% endfor %}
        </table>
         </div>
         <div class="col-md-5 dalej">
        <p class="cena-koszyk">Do zapalaty: <br/> <span >{{ suma_cen }} PLN</span></p>


    {% else %}
        <p>Twój koszyk jest pusty.</p>
    {% endif %}



<script>
document.getElementById('pay-button').addEventListener('click', function() {
    fetch('/inicjuj_platnosc/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'  // Upewnij się, że CSRF token jest dostarczony, jeśli używasz Django template.
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.clientSecret) {
            // Tutaj możesz dodać obsługę płatności za pomocą Stripe.js
            console.log('Client Secret received:', data.clientSecret);
        } else {
            console.error('Problem with creating payment intent.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
</script>
<br/>
    <br/>
     <a id="pay-button" href="{% url 'podsumowanie' %}"
                               class="btn btn-secondary">Przejdź do podsumowania</a>
    </div>
</div>
{% endblock %}