body {
    background: #c2b280 !important;
}

p {
    color: #000;
}

#content {
    margin: 20px 30px 100px 30px;
    min-height: 600px;
}

footer {
    background-color: #0a0a5c;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;


}


footer a, footer p {
    color: #fff;
/ text-decoration: none;
    margin: 0 10px;
}


footer a:hover {
    text-decoration: underline;
}


.nowa-wysz {
    justify-content: center !important;
}

.nav-item {
    background: #0a0a5c;
    margin: 0px 20px;
    color: white;
    /*
    border: 1px solid #fff;
    */
}


.nav-item a {
    color: #ffffff;
}

a:hover {
    color: #808000 !important;
    text-decoration: none !important;
}

.navbar {
    background: #0a0a5c;
    padding: 15px !important;
}

/*.wyszukiwarka{display: flex;
justify-content: center;
padding: 20px 0px;}*/
.wyszukiwarka input {
    width: 52%;
}

.wyszukiwarka {
    width: 100%;
}

header {
    background: #0a0a5c !important;;
}

#searchResults {


    list-style: none;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    width: 50% !important;
    background: olive;
    cursor: pointer;
    border-radius: 10px;
}


#searchResults li {
    padding: 10px;
    color: white;
    cursor: pointer;


}

#searchResults li:hover {
    color: #808000;
    background: white;

    cursor: pointer;
}

.info-koszyk {
    justify-content: center !important;
}

#searchInput {
    padding: 10px;
    border-radius: 10px;
}

h1, h2, h3, h4, h5 p {
    color: #3D3D3B !important;
}

.card-img-top {
    /*max-width: 200px;*/
    height: auto;
    border-radius: 10px 10px 0px 0px !important;
}

.tytul {
    font-size: 20px;
    color: #0a0a5c;
}

.card-body {
    padding: 10px !important;
    background: #0a0a5c;
    border-radius: 0px 0px 10px 10px;
}

.card-body a {
    color: #ffffff;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90% !important;
    }
}

.card {
    border-radius: 20px !important;
}

.cena {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.przycisk-koszyk {
    text-align: center;
}

.przycisk-koszyk a:hover {
    color: #0a0a5c !important;
}

.card {
    background: none !important;
}

.tytul img {
    display: block !important;
    margin: 0 auto !important;
    max-height: 244px !important;

}

form label {
    display: flex;
    margin-bottom: 0px !important;
}

.helptext, form li {
    display: none;
}

.logowanie {
    display: flex;
    min-height: 500px !important;
    background: #0a0a5c;
    color: #ffffff;
    border-radius: 20px;
    align-items: center;
    margin-top: 60px;

}

.formularz input {


    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
}

.formularz label {
    font-weight: bold;
    color:#fff;
}

button {
    background: olive;
    color: white;
    text-align: center;
    border: none;
    padding: 10px;

    width: 150px;
    border-radius: 20px !important;
    font-weight: bold;
    cursor: pointer
}

button:hover {
    background: white;
    color: #0a0a5c;
    cursor: pointer;
}
.zdjecie img {display: block;
margin: 0 auto;
max-width: 350px;}
.zdjecia-koszyk {max-height: 200px;}